html {
    width: 100%;
    font-family: monospace, sans-serif;
}

a {
    text-decoration: none;
    color: #6c8fe0;
}

body {
    padding: 2rem;
}

main {
    display: flex;
    min-height: 600px;

    > * {
        width: 50%;
    }
}

.athi-img {
    img {
        opacity: 0.97;
    }
}

.chat-box {
    background-color: rgb(244, 240, 235);
}

.chat-messages {
    height: 580px;
    overflow: scroll;
}

.message-form {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: space-around;

    .name {
        width: 25%;
    }

    .message {
        width: 65%;
        margin-left: 4px;
    }

    button {
        width: 8%;
    }
}

.chat-message {
    display: flex;
    p:nth-child(2) {
        margin-left: 10px;
    }
}